@model List<Product> //List<Product>:kiểu dữ liệu của object ở bên controller truyền qua và lưu vào @model.
@* Lưu ý khi sử dụng @model trong các đoạn lệnh C# thì viết Model --> @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder) *@
@* Lưu ý khi sử dụng các thuộc tính(property) trong object do controller truyền qua thì chỉ cần sử dụng trực tiếp. Ví dụ proprty Title (asp-for="Title"). Trong đó Name chính là property của object do Controller truyền qua *@
@* Tương tự như Category *@

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <!--asp-controller="Product" asp-action="Upsert" => GET: .../Admin/Product/Upsert-->
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Product
                </a>
            </div>
        </div>

        @* Sử dụng thư viện để render table --> dữ liệu json sẽ được lấy thông qua đoạn ajax trong code js *@
        @* Vì sử dụng thư viện để render table nên không cần dùng @model List<Product> *@
        @* id = tblData vì trong đoạn script ghi $('#tblData').DataTable... *@
        @* Script code js được import trong @section Scripts *@
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>List Price</th>
                    <th>Author</th> 
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts {
    @* import js *@
    <script src="~/js/product.js"></script>
}